body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../../../img/dunes.jpg");
}

.container {
    display: flex;
    border: 2px solid black;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9c46a;
}

#areaDeJoc {
    background-color: #e9c46a;
}

.player-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
}

.container-buttons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9c46a;
    padding: 20px;
    border-radius: 20px;
}
